<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/874ed668-22ac-4cc4-94cd-e64ffd4ba2c4/resourcegroups/APIEdu4med/providers/Microsoft.Web/sites/Edu4MedBackEnd20250430175937</ResourceId>
    <ResourceGroup>APIEdu4med</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://edu4medbackend20250430175937.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>0bc647e0-ffb5-4843-a711-7ed8e7e6762b</ProjectGuid>
    <PublishUrl>https://edu4medbackend20250430175937.scm.azurewebsites.net/</PublishUrl>
    <UserName>$Edu4MedBackEnd20250430175937</UserName>
    <_SavePWD>true</_SavePWD>
    <TargetFramework>net8.0</TargetFramework>
    <SelfContained>true</SelfContained>
  </PropertyGroup>
</Project>