<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/874ed668-22ac-4cc4-94cd-e64ffd4ba2c4/resourceGroups/EduMedv2/providers/Microsoft.Web/sites/Edu4med</ResourceId>
    <ResourceGroup>EduMedv2</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://edu4med-adbjgjgzgsb7buf0.brazilsouth-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>0bc647e0-ffb5-4843-a711-7ed8e7e6762b</ProjectGuid>
    <MSDeployServiceURL>edu4med-adbjgjgzgsb7buf0.scm.brazilsouth-01.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Edu4med</DeployIisAppPath>
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>REDACTED</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <TargetFramework>net8.0</TargetFramework>
    <SelfContained>true</SelfContained>
    <RuntimeIdentifier>win-x86</RuntimeIdentifier>
    <EncryptedPassword>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAyG41nWdKyUe11skPVVHn1wAAAAACAAAAAAAQZgAAAAEAACAAAAB2WMUtxjS2OCRVqr3/lP3bZX/b/gDkzYFnjax0E4qAmgAAAAAOgAAAAAIAACAAAAAhzQO+gi61exHFwI5g0qiaIQGgqrR84SKKnvYgNm5M1CAAAABeIPnUpYwDm6aS+yCT5aUYSKB4Hvr07q1n6pEJt2TPc0AAAAA+r5M9Nj6KUtTvJjfiWXwJ6MnNZWZSf6P9+hOjOpbL0F1nJMBNr189hc7WUlDRv2+SG7I2AgRWfj1vk4kjmfH4</EncryptedPassword>
    <EnvironmentSubType>AppServicePublishProfileVisual</EnvironmentSubType>
    <_PublishBasicAuthDisabled>true</_PublishBasicAuthDisabled>
    <RemoteSitePhysicalPath />
  </PropertyGroup>
</Project>